{% extends "base_wide.html" %}
{% load i18n static wger_extras %}

{% block title %}Достижения{% endblock %}

{% block content %}
<h2 class="mb-4">Достижения</h2>

{% if user_trophies %}
<h5 class="text-success mb-3"><i class="fas fa-trophy"></i> Получены</h5>
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3 mb-5">
{% for ut in user_trophies %}
    <div class="col">
        <div class="r12-trophy r12-trophy--earned">
            <div class="r12-trophy__icon">
                <img src="{% static ut.trophy.image_rel_path %}" alt="{{ ut.trophy.name }}">
            </div>
            <div class="r12-trophy__name">{{ ut.trophy.name }}</div>
            <div class="r12-trophy__desc">{{ ut.trophy.description }}</div>
            <div class="r12-trophy__date">{{ ut.earned_at|date:"d.m.Y" }}</div>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}

<h5 class="text-muted mb-3"><i class="fas fa-lock"></i> Предстоит открыть</h5>
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
{% for trophy in locked_trophies %}
    <div class="col">
        <div class="r12-trophy r12-trophy--locked">
            <div class="r12-trophy__icon">
                <img src="{% static trophy.image_rel_path %}" alt="{{ trophy.name }}">
            </div>
            <div class="r12-trophy__name">{{ trophy.name }}</div>
            <div class="r12-trophy__desc">{{ trophy.description }}</div>
        </div>
    </div>
{% empty %}
    <div class="col-12">
        <p class="text-success">Все достижения разблокированы!</p>
    </div>
{% endfor %}
</div>
{% endblock %}
