<!DOCTYPE html>
<!-- Rep12 -->

{% load i18n static wger_extras django_bootstrap_breadcrumbs %}
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/workout-manager.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-compiled.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rep12-overrides.css' %}">

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">


    {% block header %}{% endblock %}

    <title>{% translate "An error occurred" %}</title>
</head>

<body>

{#              #}
{# Main content #}
{#              #}
<div id="main">
    <div class="container pt-4 text-center">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <h2 id="page-title" class="page-header">
                    {% block title %}{% endblock %}
                </h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6 mt-3" id="main-content">
                <div id="content">
                    {% block content %}{% endblock %}
                    <p class="mt-3">
                        <a href="{% url 'software:features' %}" class="btn btn-primary">На главную</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/rep12-carousel.js" defer></script>
</body>
</html>
