{% extends "base_wide.html" %}
{% load i18n static wger_extras thumbnail cache django_bootstrap_breadcrumbs %}


{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
{% endblock %}
{% block opengraphimages %}
{% endblock %}


{#       #}
{# Title #}
{#       #}
{% block title %}{% endblock %}


{#        #}
{# Header #}
{#        #}
{% block header %}
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}
    <div id="{{ div_id }}"></div>
    <script>
    // Add lazy loading to React-rendered images
    new MutationObserver(function(mutations) {
        mutations.forEach(function(m) {
            m.addedNodes.forEach(function(node) {
                if (node.nodeType !== 1) return;
                var imgs = node.tagName === 'IMG' ? [node] : node.querySelectorAll ? node.querySelectorAll('img') : [];
                for (var i = 0; i < imgs.length; i++) {
                    if (!imgs[i].loading) imgs[i].loading = 'lazy';
                }
            });
        });
    }).observe(document.getElementById('{{ div_id }}'), {childList: true, subtree: true});
    </script>
{% endblock %}


{#         #}
{# Options #}
{#         #}
{% block options %}
{% endblock %}
